<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
</head>
<body>
    <div>
        <h1>Add a Book</h1>
        <form action='/create_book' method="POST">
            {% csrf_token %}
            <label>Title</label>
            <input type="text" name="title"><br>
            <label>Description</label>
            <textarea name="desc"></textarea><br>
            <button type="submit">Add</button>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </thead>
            {% for book in all_books %}
            <tbody>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td><a href="/books/{{book.id}}">View</a></td>
            </tbody>
            {% endfor %}
        </table>
    </div>
</body>
</html>