<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>

<body>
    <div id="wrapper">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <form action="/shows/{{show.id}}/update" method="POST">
            {% csrf_token %}
            <h1>Edit Show {{show.id}}</h1>
            <label>Title</label>
            <input type="text" name="title">
            <label>Network</label>
            <input type="text" name="network">
            <label>Release Date</label>
            <input type="date" name="date">
            <label>Description</label>
            <input type="text" name="desc">
            <input type="submit" value="Update">
        </form>
        <h4><a href="/shows">Go to Show</a></h4>
    </div>
</body>

</html>